/* Tabs */
/* line 2, ../sass/drupal-elements.scss */
.tabs {
  margin: 10px 0;
}

/* line 5, ../sass/drupal-elements.scss */
ul.primary li a,
ul.primary li a:hover,
ul.primary li.active a {
  border: none;
}

/* line 10, ../sass/drupal-elements.scss */
.tabs .primary,
.tabs .secondary {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  border-bottom: #DADADA solid 1px;
}

/* line 18, ../sass/drupal-elements.scss */
.tabs .primary li {
  margin: 0;
}

/* line 21, ../sass/drupal-elements.scss */
.tabs .primary li a {
  background-color: #EEEEEE;
  display: inline-block;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  margin: 0;
  border: none;
}

/* line 37, ../sass/drupal-elements.scss */
.tabs .primary li.active a {
  background-color: transparent;
  font-weight: bold;
}

/* line 43, ../sass/drupal-elements.scss */
.tabs .secondary {
  margin-left: 0;
  margin: 0;
  padding: 0.5em 0 0.5em;
}

/* line 48, ../sass/drupal-elements.scss */
.tabs .secondary li {
  padding: 0 0.5em;
}

/* line 51, ../sass/drupal-elements.scss */
.tabs .secondary li a {
  font-weight: bold;
}

/* Help */
/* line 56, ../sass/drupal-elements.scss */
.help {
  padding: 5px 10px;
  border: #CAF4F6 solid 2px;
  margin: 10px 0;
  color: #666;
  min-height: 80px;
  clear: both;
}

/* Messages */
/* line 66, ../sass/drupal-elements.scss */
#messages {
  clear: both;
}

/* line 69, ../sass/drupal-elements.scss */
#messages div.messages {
  clear: both;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 1px 2px 4px #999;
}

/* line 78, ../sass/drupal-elements.scss */
#messages div.messages ul {
  margin-bottom: 0;
}

/* line 81, ../sass/drupal-elements.scss */
#messages div.status {
  background-color: #E7FFFF;
  border: #CAF4F6 solid 2px;
}

/* line 85, ../sass/drupal-elements.scss */
#messages div.error {
  color: #CD4727;
  border: 2px solid #CD4727;
  background-color: #FFB19F;
}

/* line 90, ../sass/drupal-elements.scss */
#messages div.warning {
  color: #222200;
  border: 2px solid #F0C020;
  background-color: #FFFFDD;
}

/* line 95, ../sass/drupal-elements.scss */
#messages div.success {
  border-width: 2px;
}

/* Forms  - much of this is taken from twitter bootstrap framework */
/* line 100, ../sass/drupal-elements.scss */
button,
input,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

/* line 107, ../sass/drupal-elements.scss */
button, input {
  *overflow: visible;
  line-height: normal;
}

/* line 111, ../sass/drupal-elements.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 115, ../sass/drupal-elements.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 122, ../sass/drupal-elements.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 128, ../sass/drupal-elements.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 131, ../sass/drupal-elements.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 136, ../sass/drupal-elements.scss */
label,
input,
button,
select,
textarea {
  font-weight: normal;
}

/* line 143, ../sass/drupal-elements.scss */
label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

/* line 148, ../sass/drupal-elements.scss */
input,
textarea,
select {
  display: inline-block;
  padding: 4px;
  margin-bottom: 5px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 160, ../sass/drupal-elements.scss */
label input, label textarea, label select {
  display: block;
}

/* line 163, ../sass/drupal-elements.scss */
input[type="image"], input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  border: 0;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 178, ../sass/drupal-elements.scss */
input[type="file"] {
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #ffffff;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 188, ../sass/drupal-elements.scss */
input[type="button"], input[type="reset"], input[type="submit"] {
  width: auto;
  height: auto;
}

/* line 192, ../sass/drupal-elements.scss */
select, input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 28px;
}

/* line 201, ../sass/drupal-elements.scss */
select {
  background-color: #ffffff;
}

/* line 204, ../sass/drupal-elements.scss */
select[multiple], select[size] {
  height: auto;
}

/* line 207, ../sass/drupal-elements.scss */
input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 212, ../sass/drupal-elements.scss */
textarea {
  height: auto;
}

/* line 215, ../sass/drupal-elements.scss */
input[type="hidden"] {
  display: none;
}

/* line 218, ../sass/drupal-elements.scss */
input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 228, ../sass/drupal-elements.scss */
input:focus, textarea:focus {
  border-color: rgba(4, 92, 156, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(4, 92, 156, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(4, 92, 156, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(4, 92, 156, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-8 */
}

/* line 238, ../sass/drupal-elements.scss */
input[type="file"]:focus, input[type="checkbox"]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 247, ../sass/drupal-elements.scss */
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}

/* line 255, ../sass/drupal-elements.scss */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}

/* line 266, ../sass/drupal-elements.scss */
.form-submit {
  display: inline-block;
  padding: 5px 10px 4px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  margin-right: 5px;
}

/* line 293, ../sass/drupal-elements.scss */
.form-submit:first-child {
  *margin-left: 0;
}

/* line 296, ../sass/drupal-elements.scss */
.form-submit:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/* line 307, ../sass/drupal-elements.scss */
.form-submit:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 312, ../sass/drupal-elements.scss */
.form-submit.active, .form-submit:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}

/* line 323, ../sass/drupal-elements.scss */
#edit-delete {
  color: #FFFFFF;
  background-color: #DA4F49;
  background-image: none;
  background-repeat: repeat-x;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-left-color-ltr-source: physical;
  border-left-color-rtl-source: physical;
  border-left-color-value: rgba(0, 0, 0, 0.1);
  border-right-color-ltr-source: physical;
  border-right-color-rtl-source: physical;
  border-right-color-value: rgba(0, 0, 0, 0.1);
  border-top-color: rgba(0, 0, 0, 0.1);
}

/* line 337, ../sass/drupal-elements.scss */
#edit-delete:hover {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #bd362f;
}

/* line 343, ../sass/drupal-elements.scss */
.form-required {
  color: #333;
}
