/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */

.container {
padding-left: 20px;
padding-right: 20px;
margin: 0 auto;
}

.row {
width: 100%;
overflow: hidden;
position: relative;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
float: left;
min-height: 1px;
box-sizing: border-box; /* Use box-sizing polyfill for IE7 support: https://github.com/Schepp/box-sizing-polyfill */
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
position: relative;
}

.row .onecol { width: 8.333%; }
.row .twocol { width: 16.667%; }
.row .threecol { width: 25%; }
.row .fourcol { width: 33.333%; }
.row .fivecol { width: 41.667%; }
.row .sixcol { width: 50%; }
.row .sevencol { width: 58.333%; }
.row .eightcol { width: 66.667%; }
.row .ninecol { width: 75%; }
.row .tencol { width: 83.333%; }
.row .elevencol { width: 91.667%; }
.row .twelvecol { 
  width: 100%; 
  float: left; 
}

.last {
margin-right: 0px;
padding-right: 0px;
}

.cushion {
	padding-left: 15px;
	padding-right: 15px;
}

.column {
	padding-bottom: 80px;
	overflow: hidden;
}

.row .push-1 { left: 8.333%; }
.row .push-2 { left: 16.667%; }
.row .push-3 { left: 25%; }
.row .push-4 { left: 33.333%; }
.row .push-5 { left: 41.667%; }
.row .push-6 { left: 50%; }
.row .push-7 { left: 58.333%; }
.row .push-8 { left: 66.667%; }
.row .push-9 { left: 75%; }
.row .push-10 { left: 83.333%; }
.row .push-11 { left: 91.667%; }

.row .pull-1 { right: 8.333%; }
.row .pull-2 { right: 16.667%; }
.row .pull-3 { right: 25%; }
.row .pull-4 { right: 33.333%; }
.row .pull-5 { right: 41.667%; }
.row .pull-6 { right: 50%; }
.row .pull-7 { right: 58.333%; }
.row .pull-8 { right: 66.667%; }
.row .pull-9 { right: 75%; }
.row .pull-10 { right: 83.333%; }
.row .pull-11 { right: 91.667%; }

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}

.row .alpha {
	padding-left: 0;
}

.row .omega {
	padding-right: 0;
}

/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

  #navigation {
    margin-top: 20px;
  }
  
  #navigation li {
    display: block;
    float: none;
    border-right: none;
  }
  
  #navigation li a {
    border-bottom: #ccc solid 1px;
    float: none;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}